.row {
  margin: 0px 0px;
  background-color: #000000}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden; }

  #about-text {
    font-family: "Europa";
    color: #fff;
    background-color: #000;
    font-size: 50px;
    margin-top: 100px;
    margin-left: -50px;



  }

.navbrand, .navbrand-red {
  color: #393939;
  font-weight: bold; }

.navbrand-red {
  color: #D0021B; }

.navbar-top {
  margin-bottom: 50px; }

.box-vert-center {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }

.box-vert-center > * {
  justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  min-height: 70vh; }

.box-normal {
  padding: 2em 3em; }

@media (max-width: 100%) {
  .box-normal {
    padding: 1em 3em; } }
.feature-text {
  color: rgb(255, 255, 255, 0.6);
  font-family: "Europa", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: -200px;
  margin-bottom: 200px;}

.feature-text-red {
  color: rgb(255, 255, 255); }

.slide-up-down-animation {
  animation: up-down-keys 2s ease-in-out 0s infinite;
  transform: translate(0px, 0px);
  display: inline-block;
  opacity: 1;
  font-size: 45px; }

@keyframes up-down-keys {
  0% {
    transform: translate(0px, -100px);
    opacity: 0; }
  15% {
    transform: translate(0px, 0px);
    opacity: 1; }
  85% {
    transform: translate(0px, 0px);
    opacity: 1; }
  100% {
    transform: translate(0px, 100px);
    opacity: 0; } }
.about-text p {
  font-family: "Europa", sans-serif;
  font-size: 1.3em;
  color: #fff;
  margin-bottom: -20px;
}
#facebook-page-iframe {
  width: 340px; }

#google-calendar {
  width: 100%; }

@media (max-width: 500px) {
  #facebook-page-iframe {
    width: 280px; } }
.email-box {
  padding: 2em; }

.event-table {
  width: 90%;
  font-size: 1.4em; }

.event-table td {
  padding-bottom: 2em; }

.event-table-date {
  font-weight: bold;
  text-align: right; }

#footer {
  background-color: #000000;
  padding: 2em;
  box-shadow: inset 1px 3px 3px 0px #242424;
  margin: auto 0; }

#home

.footer-img {
  opacity: 0.1;
  margin-left: calc(50% - 53px); }

.break-block {
  background-color: #D0021B;
  min-height: 10vh;
  box-shadow: 0px 0px 15px #909090;
  padding: 0px 10px 10px 10px; }

.break-block-main {
  color: white;
  font-style: italic;
  font-weight: normal;
  padding-right: 20px;
  font-size: 35px; }

.break-block-second {
  color: white;
  font-weight: normal;
  padding-left: 20px;
  font-size: 25px; }

.break-block-breakline {
  color: white;
  font-weight: normal;
  font-size: 35px; }

@media (max-width: 767px) {
  .break-block-breakline {
    display: none; }

  .break-block-second {
    padding: 0px 15px; }

  .break-block-main {
    padding: 0px 0px; } }

    #join-us{
      color: #fff;
      font-size: 50px;
    }
@media (min-width: 767px) {
  #join-us-next-to-fb {
    /* width: calc(100% - 350px); */
    font-family: "Europa", sans-serif;
    margin-top: 90px;
  }



  #fb-side-box {
    width: 350px;
    margin-top: 100px;} }
.jpg-feature {
  /* padding: 2em 0em; */
  background: no-repeat center center;
  background-size:cover;
  margin-top: -125px;
  min-height: 100%;
  width: 100%; }

@media (max-width: 1000px) {
  .jpg-feature {

    width: 100%;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }
.png-feature {
  width: 100%;
  margin-left: -50px;
  margin-top: 70px;
}

.png-feature-2 {
  width: 70%;
  margin-left: 100px;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .png-feature {
    width: 50%;
    margin-left: 25%; } }
.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);;
  border-bottom: 1px solid #ececec;
  transition: background-color 1s;
  box-shadow: 0px 1px 15px #909090; }

#main-navbar {
  -moz-transition: border-color 0.6s;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s; }

.navbar-default .navbar-brand {
  color: #000000;
  font-size: 1.4em; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1b1b1b; }

.navbar-default .navbar-text {
  color: #FFFFFF;}

.navbar-default .navbar-nav > li {
  padding-left: 0px;
  font-family: "Europa", sans-serif;
  font-weight: 200px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D0021B;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D0021B;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D0021B;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #D0021B;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #acacac; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1b1b1b; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1b1b1b; }

.navbar-default .navbar-link {
  color: #1b1b1b; }

.navbar-default .navbar-link:hover {
  color: #1b1b1b; }

.navbar-default .navbar-nav > li > a {
  -moz-transition: color 0.2s, border 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, border 0.2s, background-color 0.2s;
  transition: color 0.2s, border 0.2s, background-color 0.2s; }

@media (max-width: 767px) {
  .pull-right {
    float: none !important; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #1b1b1b; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1b1b1b; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1b1b1b;
    background-color: #e6e6e6; }

  .navbar-default .navbar-collapse {
    background-color: #e6e6e6; }

  .navbar-default .navbar-nav > li > a {
    color: #1b1b1b;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #1b1b1b;
    background-color: #d8d8d8; }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #1b1b1b;
    background-color: #d8d8d8; }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ececec;
    background-color: #d8d8d8; } }
/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */
#mc_embed_signup form {
  text-align: center;
  padding: 10px 0 10px 0; }

.mc-field-group {
  display: inline-block; }

/* positions input field horizontally */
#mc_embed_signup input.email {
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  vertical-align: top; }

#mc_embed_signup label {
  color: white;
  display: block;
  font-family: "Europa";
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold; }

#mc_embed_signup .clear {
  display: inline-block; }

/* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  font-family: "Europa";
  background-color: red;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s; }

#mc_embed_signup .button:hover {
  background-color: #777;
  cursor: pointer; }

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both; }

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%; }

#mc_embed_signup #mce-error-response {
  display: none; }

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none; }

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0; }

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px; }

  #mc_embed_signup .clear {
    display: block;
    width: 100%; }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0; } }

#titles {
  color: red;
  font-family: "Europa", sans-serif;
  margin-top: 100px;
}

#updates{
  font-family: "Europa", sans-serif;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */
