$buRed: #D0021B;
$shadow-c: #909090;

//Mixins
@mixin flexbox() {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($fdv) {
  flex-direction: $fdv;
  -moz-flex-direction: $fdv;
  -webkit-flex-direction: $fdv;
  -ms-flex-direction: $fdv;
}

@mixin justify-content($jcv) {
  justify-content: $jcv;
  -moz-justify-content: $jcv;
  -ms-justify-content: $jcv;
  -webkit-justify-content: $jcv;
}

@mixin align-items($aiv) {
  align-items: $aiv;
  -moz-align-items: $aiv;
  -ms-align-items: $aiv;
  -webkit-align-items: $aiv;
}

body {

}

.row {
  margin: 0px 0px;
}

// Navbar styling
// For color styling, see bottom of doc
.navbrand { 
  color: #393939;
  font-weight: bold;
}
.navbrand-red {
  @extend .navbrand;
  color: $buRed;
}
.navbar-top {
  margin-bottom: 50px;
}

//Box positioning 
.box-vert-center {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center); 
  @include align-items(center);
}
.box-vert-center > * {
  @include justify-content(center);
  min-height: 70vh;
}

.box-normal { 
  padding: 2em 3em;
}

@media(max-width:767px) {
  .box-normal { 
    padding: 1em 3em;
  }
}

//Top feature
.feature-text {
  font-weight: bold;
}
.feature-text-red {
  color: $buRed;
}

.slide-up-down-animation {
  //4s must be matches in script (4000 ms there)
  animation: up-down-keys 2s ease-in-out 0s infinite;
  transform: translate(0px,0px);
  display: inline-block;
  opacity: 1;
  font-size: 45px;
}

@keyframes up-down-keys {
  0% {
    transform: translate(0px,-100px);
    opacity: 0;
  }
  15% {
    transform: translate(0px,0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px,0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px,100px);
    opacity: 0;
  }
}

//About
.about-text p {
  font-size: 1.3em;
}

//Get Involved
#facebook-page-iframe {
  width: 340px;
}
@media(max-width: 500px) {
  #facebook-page-iframe {
    width: 280px;
  }
}

.event-table {
  width: 90%;
  font-size: 1.4em;
}

.event-table td {
  padding-bottom: 2em;
}

.event-table-date {
  font-weight: bold;
  text-align: right;
}

.event-table-title {
  
}

//Break element (red page-spanning block)
.break-block {
  background-color: $buRed;
  min-height: 10vh;
  box-shadow: 0px 0px 15px #909090;
  padding:0px 10px 10px 10px;
}

.break-block-main {
  color: white;
  font-style: italic;
  font-weight: normal;
  padding-right: 20px;
  
  font-size: 35px;
}

.break-block-second {
  color: white;
  font-weight: normal;
  padding-left: 20px;
  
  font-size: 25px;
}

.break-block-breakline {
  color: white;
  font-weight: normal;
  
  font-size: 35px;
}
@media(max-width:767px) {
  .break-block-breakline {
    display: none;
  }
  .break-block-second {
    padding:0px 15px;
  }
  .break-block-main {
    padding:0px 0px;
  }
}

//Special sizing

@media(min-width:767px) {
  #join-us-next-to-fb {
    width: calc(100% - 350px);
  }
  #fb-side-box {
    width: 350px;
  }
}

//Padding and whitespace classes

.svg-feature {
  padding: 2em 0em;
  width: 100%;
}

@media(max-width:767px) {
  .svg-feature {
    width: 50%;
    margin-left: 25%;
  }
}

.png-feature {
  width: 100%;
  margin-left:0px;
}

@media(max-width:767px) {
  .png-feature {
    width: 50%;
    margin-left: 25%;
  }
}


//Bootstrap Custom Navbar coloring

//NOTE TO FUTURE MAINTAINERS:
//This should absolutely be refactored.
//Upgrade to Bootstrap 4, and change to using the native SASS vars
//BS 4 was in alpha at the time of writing this

$nav-bgc: #ececec;
$nav-darkc: #1b1b1b;
$nav-lightc: #868686;
$nav-primc: #D0021B;

//{color: #0f9bf2;}

$nav-mob-light: #e6e6e6;
$nav-mob-dark: #d8d8d8;

.navbar-default {
  background-color: $nav-bgc;
  border-bottom: 1px solid $nav-bgc;
  transition: background-color 1s;
  box-shadow: 0px 1px 15px $shadow-c;
}
#main-navbar{
	-moz-transition: border-color 0.6s;
  -webkit-transition: border-color 0.6s;
  transition: border-color 0.6s;
}
.navbar-default .navbar-brand {
  color: $nav-darkc;
  font-size: 1.4em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $nav-darkc;
}
.navbar-default .navbar-text {
  color: $nav-darkc;
}
.navbar-default .navbar-nav > li {
  font-weight: bold;
  padding-left: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: $nav-darkc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
// When we hover on an active element, color it 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $nav-primc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #acacac;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $nav-darkc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $nav-darkc;
}
.navbar-default .navbar-link {
  color: $nav-darkc;
}
.navbar-default .navbar-link:hover {
  color: $nav-darkc;
}

.navbar-default .navbar-nav > li > a {
  -moz-transition: color 0.2s, border 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, border 0.2s, background-color 0.2s;
  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

@media (max-width: 767px) {
//	We don't want the list items pulled right if on mobile 
	.pull-right { 
	  float: none !important;
	}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $nav-darkc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $nav-darkc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $nav-darkc;
    background-color: $nav-mob-light;
  }
  
  .navbar-default .navbar-collapse {
	  background-color: $nav-mob-light;
  }
  .navbar-default .navbar-nav > li > a {
  	color: $nav-darkc;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	  color: $nav-darkc;
	  background-color: $nav-mob-dark;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: $nav-darkc;
	  background-color: $nav-mob-dark;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
	  color: $nav-bgc;
	  background-color: $nav-mob-dark;
	}
}